<ion-header >
  <ion-toolbar>

    <ion-segment color="tertiary" value="cursos" >

      <!-- <ion-segment-button *ngIf="Rol==Ayudante" value="mis-ayudantias" [routerLink]="['/mis-ayudantias']" routerDirection="root">
        <ion-icon name="file-tray-stacked-outline" size="large"></ion-icon> 
        <ion-label style="font-size: 14;">Mis Cursos</ion-label>
      </ion-segment-button> -->

      <ion-segment-button value="publicaciones" [routerLink]="['/publicaciones']" routerDirection="root">
        <ion-icon name="newspaper-outline" size="large"></ion-icon> 
        <ion-label style="font-size: 14;">Publicaciones</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="cursos" [routerLink]="['/cursos']" routerDirection="root">
        <ion-icon name="library-outline" size="large"></ion-icon> <ion-label style="font-size: 14px;">Cursos</ion-label>
      </ion-segment-button>
    
    
      <ion-segment-button value="perfil" [routerLink]="['/perfil']" routerDirection="root">
        <ion-icon name="person-circle-outline" size="large"></ion-icon> <ion-label style="font-size: 12px;">Perfil</ion-label>
      </ion-segment-button>

      <ion-segment-button value="adopcion" [routerLink]="['/adopcion']" routerDirection="root">
        <ion-icon name="paw-outline" size="large"></ion-icon> <ion-label style="font-size: 12px;">Adopcion</ion-label>
      </ion-segment-button>

  

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-toolbar>

    <ion-segment color="tertiary" value="comentarios">
    
     <ion-segment-button value="datos" [routerLink]="['/veterinario-detalle', id]" routerDirection="root">
          <ion-icon name="information-circle-outline" size="large"></ion-icon> 
          <ion-label>Datos</ion-label>
        </ion-segment-button>
        
        <ion-segment-button value="comentarios" [routerLink]="['/comentario-veterinario', id]" routerDirection="root">
          <ion-icon name="chatbubbles-outline" size="large"></ion-icon> <ion-label>Comentarios</ion-label>
        </ion-segment-button>
            
      </ion-segment>
    
    </ion-toolbar>
    <ion-searchbar
    color="light" 
    placeholder = "Buscar comentario..."
    animated

    (ionChange)="buscar($event)">
    </ion-searchbar>

 
  <ng-container *ngFor="let comentario of comentarios  | filtroComentarios: textoBuscar" >
     <ng-container *ngFor="let usuario of usuarios">

        <ion-card *ngIf="comentario.Veterinario == id && usuario.id == comentario.usuario">
          <ion-card-header>
            <ion-item>
              <ion-avatar>
                <img src="{{usuario.FotoPerfil}}">
              </ion-avatar>
              
              <ion-label style="margin-left: 7.5px;">{{usuario.Nombre}} {{usuario.Apellido}}</ion-label>
              
  
              <ion-icon name="trash-outline" slot="end" color='danger' *ngIf="comentario.usuario == miID" (click)="alert(comentario.id)"></ion-icon>
            </ion-item>

          </ion-card-header>
          <ion-card-content>
     
              <ion-label>{{comentario.Comentario}}</ion-label>

       
          </ion-card-content>
          <ion-item>
            {{comentario.Fecha | date:'yyyy/MM/dd'}}
          </ion-item>
          
          
             
        </ion-card>

      </ng-container>
    
  </ng-container>

  <ng-container *ngIf="getDatos()">

    <div style="margin-top: 50px;" align='center'> 
      <ion-text color="medium">

        <img src="https://firebasestorage.googleapis.com/v0/b/taskyapp01.appspot.com/o/iconos%2FcomentariosUsuarios.png?alt=media&token=438decd8-4f88-4ae3-928e-11e7ff1f6a9b" style="width: 55%; height:62%;" alet="foto">
        
        <p style="font-size: 21px;">No hay comentarios registrados.</p>
      </ion-text>  
    </div>
  </ng-container>

  <ion-fab *ngIf="id != miID" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="crearComentario()">
     <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>