<ion-header >
  <ion-toolbar>

    <ion-segment color="tertiary" value="perfil" >
<ion-segment-button value="publicaciones" [routerLink]="['/publicaciones']" routerDirection="root">
        <ion-icon name="newspaper-outline" size="large"></ion-icon> 
        <ion-label style="font-size: 14;">Publicaciones</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="cursos" [routerLink]="['/cursos']" routerDirection="root">
        <ion-icon name="library-outline" size="large"></ion-icon> <ion-label style="font-size: 14px;">Cursos</ion-label>
      </ion-segment-button>
    
    
      <ion-segment-button value="perfil" [routerLink]="['/perfil']" routerDirection="root">
        <ion-icon name="person-circle-outline" size="large"></ion-icon> <ion-label style="font-size: 12px;">Perfil</ion-label>
      </ion-segment-button>

      <ion-segment-button value="adopcion" [routerLink]="['/adopcion']" routerDirection="root">
        <ion-icon name="paw-outline" size="large"></ion-icon> <ion-label style="font-size: 12px;">Adopcion</ion-label>
      </ion-segment-button>
  

  

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content>
  
  <ion-img class="circle-pic"  src="{{user.FotoPerfil}}" ></ion-img>

  <ion-card>
    <ion-item>
      <ion-icon name="person-outline" size="large" style="margin-right: 8px;"></ion-icon>
      <ion-label style="font-size: 17px;">{{user.Nombre}} {{user.Apellido}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="mail-outline" size="large" style="margin-right: 8px;"></ion-icon>
      <ion-label style="font-size: 17px;">{{user.Correo}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline" size="large" style="margin-right: 8px;"></ion-icon>
      <ion-label style="font-size: 17px;">{{user.Telefono}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="megaphone-outline" size="large" style="margin-right: 8px;"></ion-icon>
      <ion-label style="font-size: 17px;">{{user.Publicaciones}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="paw-outline" size="large" style="margin-right: 8px;"></ion-icon>
      <ion-label style="font-size: 17px;">{{user.Rol}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon routerLink="/perfil-update" name="create-outline" size="large" style="margin-right: 8px;" layout="icon-end" slot="end"></ion-icon>

    </ion-item>
  
  </ion-card>

  <div align="center" style="align-items: center;justify-content: center;align-content: center;margin-top:15.5px;margin-bottom: 7.5px;">

    
    <ion-item *ngIf="user.Rol == 'Ayudante'" style="margin-top: 5px;">
      <ion-button  style="width: 250px;height: 45px;margin:auto;" [routerLink]="['/mis-ayudantias']">
        <ion-icon name="file-tray-stacked-outline" size="large" style="margin-right: 8px;"></ion-icon>
        <ion-label style="font-size: 17px;">Mis Cursos</ion-label>
      </ion-button>

    </ion-item>

    <ion-item *ngIf="user.Rol == 'Estudiante'" style="margin-top: 5px;">
      <ion-button  style="width: 250px;height: 45px;margin:auto;" (click)="serAyudante()" color="success">
        <ion-icon name="school-outline" size="large" style="margin-right: 8px;"></ion-icon>
        <ion-label style="font-size: 17px;">Ser ayudante</ion-label>
      </ion-button>

    </ion-item>
    

    
    <ion-item *ngIf="user.Rol == 'Ayudante' && user.Premium==false" style="margin-top: 5px;">
      <ion-button  style="width: 250px;height: 45px;margin:auto;" (click)="serPremium()" color="success">
        <ion-icon name="school-outline" size="large" style="margin-right: 8px;"></ion-icon>
        <ion-label style="font-size: 17px;">Ser premium</ion-label>
      </ion-button>

    </ion-item>

    <!-- <ion-item *ngIf="user.Citas == false" style="margin-top: 5px;">
      <ion-button  style="width: 250px;height: 45px;margin:auto;" [routerLink]="['/previo-citas']" color="success">
        <ion-icon name="people-outline" size="large" style="margin-right: 8px;"></ion-icon>
        <ion-label style="font-size: 17px;">App Citas</ion-label>
      </ion-button>

    </ion-item> -->
    

    <ion-item style="margin-top: 5px;margin-bottom: 5px;">
      <ion-button style="width: 250px;height: 45px;margin-top:12.5px;margin:auto;" color="danger" (click)="logOutUser()">
        <ion-icon name="log-out-outline" size="large" style="margin-right: 8px;"></ion-icon>
        <ion-label style="font-size: 17px;">Cerrar Sesión</ion-label>
      </ion-button>

    </ion-item>

    


  
  
</div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/sugerencias">
     <ion-icon name="help-circle-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<style>
  .circle-pic {     
    width: 55%;
    height: 35%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    /* -webkit-border-radius: 50%;
    border-radius: 50%;
    border-width: 50px; */

  }
</style>