

<ion-content>

<div align='center' style="margin-bottom: 25px;margin-top: 35%;width: 85%;margin-left: 7.5%;">
 
    <ion-label style="font-size:21px;text-align: center;margin:auto">Sus datos están siendo verificados! En las siguientes horas le activaremos su cuenta :)</ion-label>


</div>

<ion-img style="margin:auto;width: 62%;margin-top:15px;" src="../../assets/image1.png" alt="hola"></ion-img>

<div align="center" style="margin-top:31px">
  <ion-button style="margin:auto;" (click)="logOutUser()">Volver</ion-button>
</div>



</ion-content>
