<ion-header >
  <ion-toolbar>

    <ion-segment color="tertiary" value="publicaciones" >

      <ion-segment-button value="publicaciones" [routerLink]="['/publicaciones']" routerDirection="root">
        <ion-icon name="newspaper-outline" size="large"></ion-icon> 
        <ion-label style="font-size: 14;">Publicaciones</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="cursos" [routerLink]="['/cursos']" routerDirection="root">
        <ion-icon name="library-outline" size="large"></ion-icon> <ion-label style="font-size: 14px;">Cursos</ion-label>
      </ion-segment-button>
    
    
      <ion-segment-button value="perfil" [routerLink]="['/perfil']" routerDirection="root">
        <ion-icon name="person-circle-outline" size="large"></ion-icon> <ion-label style="font-size: 12px;">Perfil</ion-label>
      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>
<ion-content>

<form #form="ngForm" (ngSubmit)="crearPublicacion(form)">
      <ion-list>   
        
        <ion-card style="margin-top:15px">
          <ion-item>
            <ion-label>Título </ion-label>
          </ion-item>
          <ion-item>
          
            <ion-input required placeholder="Ingrese el título" name="titulo" type='text' ngModel required></ion-input>
          </ion-item>

        </ion-card>


      <ion-card style="margin-top:15px">
        <ion-item>
          <ion-label>Descripción </ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea required placeholder="Ingrese la descripción" name="descripcion" type='text' ngModel required></ion-textarea>
        </ion-item>



      </ion-card>

    <ion-card>
      <ion-item *ngIf="rol == 'Ayudante'">
        <ion-label>Seleccione un curso: </ion-label>
        <ion-select required  name='curso' ngModel>
          <ng-container  *ngFor="let ayudante of ayudantias">
            <ng-container *ngFor="let curso of cursos">
              <ng-container *ngIf="(ayudante.Usuario == miId) && (ayudante.Materia == curso.id)">
                <ion-select-option value="{{curso.id}}">{{curso.Nombre}}</ion-select-option>
              </ng-container>
            </ng-container>
          </ng-container>
        </ion-select>
      </ion-item>


    </ion-card>

    

    <ion-card style="margin-top:15px">
      <ion-item>
        <ion-label><ion-icon name="image-outline"></ion-icon> <ion-text color="" style="margin-left: 7.5px;">Seleccionar foto</ion-text></ion-label>
      
        <ion-input type='file' accept="image/*" id="myFileInput" name="foto" (change)="readURL($event);" class="fileInput" ngModel required></ion-input>
      </ion-item>

    </ion-card>


  </ion-list>
  

    <ion-button  style="width: 150px;margin:auto;" shtype="submit"  [disabled]="form.invalid" expand="block">
      Guardar
    </ion-button>
  </form>

</ion-content>
<style>
#myFileInput{
  position: absolute;
  opacity: 0;
}
</style>