<ion-header >
  <ion-toolbar>

    <ion-segment color="tertiary" value="perfil" >

      <ion-segment-button value="publicaciones" [routerLink]="['/publicaciones']" routerDirection="root">
        <ion-icon name="newspaper-outline" size="large"></ion-icon> 
      </ion-segment-button>
      
      <ion-segment-button value="cursos" [routerLink]="['/cursos']" routerDirection="root">
        <ion-icon name="library-outline" size="large"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="adopcion" [routerLink]="['/adopcion']" routerDirection="root">
        <ion-icon name="paw-outline" size="large"></ion-icon>
      </ion-segment-button>
    
    
      <ion-segment-button value="perfil" [routerLink]="['/perfil']" routerDirection="root">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-segment-button>
    </ion-segment>
 
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-searchbar
  color="light" 
  placeholder = "Buscar curso..."
  animated

  (ionChange)="buscar($event)">
  </ion-searchbar>



  <ng-container *ngFor="let curso of nuevosCursos">

    <ng-container *ngFor="let materia of cursos | filtroCurso: textoBuscar">



      <ion-item *ngIf="curso==materia.id" style="padding: 2.5px;"  >
        <!-- [routerLink]="['/curso-detalle',curso.id, curso.Nombre]" -->
        <ion-thumbnail slot="start" slot="start">
          <img src="{{materia.Imagen}}" alet="foto">
        </ion-thumbnail>
        <ion-card-title ><label style="font-size: 17.2px; font-weight: bold; ">{{materia.Nombre}}</label></ion-card-title>

        <ion-icon slot="end" name="person-add-outline" (click)="crearAyudantia(materia.id)"></ion-icon>
      </ion-item>
  

    </ng-container>
  </ng-container>

   

</ion-content>
