<ion-header >
  <ion-toolbar>

    <ion-segment color="tertiary" value="adopcion" >


      <ion-segment-button value="publicaciones" [routerLink]="['/publicaciones']" routerDirection="root">
        <ion-icon name="newspaper-outline" size="large"></ion-icon> 
        <ion-label style="font-size: 14;">Publicaciones</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="cursos" [routerLink]="['/cursos']" routerDirection="root">
        <ion-icon name="library-outline" size="large"></ion-icon> <ion-label style="font-size: 14px;">Cursos</ion-label>
      </ion-segment-button>
    
    
      <ion-segment-button value="perfil" [routerLink]="['/perfil']" routerDirection="root">
        <ion-icon name="person-circle-outline" size="large"></ion-icon> <ion-label style="font-size: 12px;">Perfil</ion-label>
      </ion-segment-button>

      <ion-segment-button value="adopcion" [routerLink]="['/adopcion']" routerDirection="root">
        <ion-icon name="paw-outline" size="large"></ion-icon> <ion-label style="font-size: 12px;">Adopcion</ion-label>
      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>
<ion-content>

<form #form="ngForm" (ngSubmit)="crearAdopcion(form)">
      <ion-list>   
        
        <ion-card style="margin-top:15px">
          <ion-item>
            <ion-label>Título </ion-label>
          </ion-item>
          <ion-item>
          
            <ion-input required placeholder="Ingrese el título" name="titulo" type='text' ngModel required></ion-input>
          </ion-item>

        </ion-card>


      <ion-card style="margin-top:15px">
        <ion-item>
          <ion-label>Descripción </ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea required placeholder="Ingrese la descripción" name="descripcion" type='text' ngModel required></ion-textarea>
        </ion-item>



      </ion-card>

    <ion-card style="margin-top:15px">
      <ion-item>

        <ion-item>
          <ion-icon name="image-outline"></ion-icon><ion-text color="" style="margin-left: 7.5px;">Seleccionar foto</ion-text>
        
          <ion-input type='file' accept="image/*" id="myFileInput" name="foto1" (change)="readURL1($event);" class="fileInput" ngModel required></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="images-outline"></ion-icon><ion-text color="" style="margin-left: 7.5px;">Añadir otra foto</ion-text>
        
          <ion-input type='file' accept="image/*" id="myFileInput" name="foto2" (change)="readURL2($event);" class="fileInput" ngModel required></ion-input>
        </ion-item>



      </ion-item>
      

    </ion-card>
    
    <ion-card style="margin-top:15px" *ngIf='image!=null'>

      <ion-item>

        <ion-img id="blah" [src]="image" alt="your image" style="margin-top:5px;margin-bottom: 5px;height: 250px;width: 250px;"></ion-img>
        <ion-img id="blah" *ngIf='image1!=null' [src]="image1" alt="your image" style="margin-left: 5px;margin-top:5px;margin-bottom: 5px;height: 250px;width: 250px;"></ion-img>
      </ion-item>
      

    </ion-card>

    <ion-card style="margin-top:15px">
      <ion-item>
        <ion-label>Especie: </ion-label>
        <ion-select required  name='tipo' ngModel>
         
                <ion-select-option value="P">Perrito</ion-select-option>
                <ion-select-option value="G">Gatito</ion-select-option>
                <ion-select-option value="P">Ave</ion-select-option>
                <ion-select-option value="O">Otro</ion-select-option>
        
        </ion-select>

      </ion-item>
      
    </ion-card>


  </ion-list>
  

    <ion-button  style="width: 150px;margin:auto;margin-bottom: 7.5px;" type="submit"  [disabled]="form.invalid" expand="block">
      Guardar
    </ion-button>
  </form>

</ion-content>
<style>
#myFileInput{
  position: absolute;
  opacity: 0;
}
</style>