<ion-header >
  <ion-toolbar>

    <ion-segment color="tertiary" value="publicaciones" >
    <ion-segment-button value="publicaciones" [routerLink]="['/publicaciones']" routerDirection="root">
        <ion-icon name="newspaper-outline" size="large"></ion-icon> 
      </ion-segment-button>
      
      <ion-segment-button value="cursos" [routerLink]="['/cursos']" routerDirection="root">
        <ion-icon name="library-outline" size="large"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="adopcion" [routerLink]="['/adopcion']" routerDirection="root">
        <ion-icon name="paw-outline" size="large"></ion-icon>
      </ion-segment-button>
    
    
      <ion-segment-button value="perfil" [routerLink]="['/perfil']" routerDirection="root">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-segment-button> 

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-searchbar
    color="light" 
    placeholder = "Buscar anuncio..."
    animated

    (ionChange)="buscar($event)">
    </ion-searchbar>
  
  <ng-container style="border-color:yellow;background-color:teal">
    <ion-card  *ngIf="publicidad.Mostrar" style="border-color:yellow;background-color:#FDF897" (click)='aumentarVisitaPublicidad(publicidad.id,publicidad)'>         
      <ion-card-header>
        <ion-item>
        <ion-card-title >{{publicidad.Titulo}}</ion-card-title>  
      </ion-item>
      </ion-card-header>
      <ion-card-content (click)='aumentarVisitaPublicidad(publicidad.id,publicidad)'>
        {{publicidad.Descripcion}}
      </ion-card-content>

      <ng-container >
        <ion-item>
          <ion-button fill="outline" slot='end'><ion-icon name="eye-outline" ></ion-icon><label style="font-size: 12;margin-left: 7.5px;" >{{publicidad.Visitas}}</label></ion-button>
         
        </ion-item>
      </ng-container>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!getDatos()">
    <ng-container *ngFor="let publicacion of publicaciones | filtroAnuncio: textoBuscar">
      <ion-card  *ngIf="rol == 'Ayudante'">         
        <ion-card-header>
          <ion-item>
          <ion-card-title (click)='aumentarVisita(publicacion.id,publicacion)'>{{publicacion.Titulo}}</ion-card-title>  
          <!-- <ion-button fill="outline" slot='end' (click)='aumentarVisita(publicacion.id,publicacion)'><ion-icon name="eye-outline" ></ion-icon><label style="font-size: 12;margin-left: 7.5px;" >{{publicacion.Visitas}}</label></ion-button>
           -->

           <ion-icon *ngIf="miId == publicacion.Estudiante" name="create-outline" slot='end'  (click)="redireccionar(publicacion.id)"></ion-icon>
           <ion-icon *ngIf="miId == publicacion.Estudiante" name="trash-outline" slot='end' color='danger'(click)="alert(publicacion.id)"></ion-icon>


          <!-- <ng-container *ngIf="miId == publicacion.Estudiante">
            <ion-icon name="create-outline" slot='end'  (click)="redireccionar(publicacion.id)"></ion-icon>
            <ion-icon name="trash-outline" slot='end' color='danger'(click)="alert(publicacion.id)"></ion-icon>
          </ng-container> -->
        </ion-item>
        </ion-card-header>
        <ion-card-content (click)='aumentarVisita(publicacion.id,publicacion)'>
          {{publicacion.Descripcion}}
        </ion-card-content>

        <ng-container >
          <ion-item>

            <label>{{publicacion.Fecha | date:'yyyy/MM/dd'}}</label>

            <ion-button fill="outline" slot='end' (click)='aumentarVisita(publicacion.id,publicacion)'><ion-icon name="eye-outline" ></ion-icon><label style="font-size: 12;margin-left: 7.5px;" >{{publicacion.Visitas}}</label></ion-button>

           
          </ion-item>

        </ng-container>

        
        
      </ion-card>



      <ion-card  *ngIf="((rol == 'Estudiante') && ('Ayudante' == publicacion.Rol))||(rol == 'Estudiante' && publicacion.Estudiante == miId)">         
        <ion-card-header>
          <ion-item>
          <ion-card-title (click)='aumentarVisita(publicacion.id,publicacion)'>{{publicacion.Titulo}}</ion-card-title>  

          <ion-icon *ngIf="miId == publicacion.Estudiante" name="create-outline" slot='end'  (click)="redireccionar(publicacion.id)"></ion-icon>
          <ion-icon *ngIf="miId == publicacion.Estudiante" name="trash-outline" slot='end' color='danger'(click)="alert(publicacion.id)"></ion-icon>

          <!-- <ng-container *ngIf="miId == publicacion.Estudiante">
            <ion-icon name="create-outline" slot='end'  (click)="redireccionar(publicacion.id)"></ion-icon>
            <ion-icon name="trash-outline" slot='end' color='danger'(click)="alert(publicacion.id)"></ion-icon>
          </ng-container> -->
        </ion-item>
        </ion-card-header>
        <ion-card-content (click)='aumentarVisita(publicacion.id,publicacion)'>
          {{publicacion.Descripcion}}
        </ion-card-content>

        <ng-container >
          <ion-item>
            
            <label>{{publicacion.Fecha | date:'yyyy/MM/dd'}}</label>
            <ion-button fill="outline" slot='end' (click)='aumentarVisita(publicacion.id,publicacion)'><ion-icon name="eye-outline" (click)='aumentarVisita(publicacion.id,publicacion)'></ion-icon><label style="font-size: 12;margin-left: 7.5px;" >{{publicacion.Visitas}}</label></ion-button>
          
          </ion-item>

        </ng-container>
        

        
      </ion-card>
      
      
    </ng-container>
  </ng-container>

  
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click) = 'validarCurso()' routerDirection="root">
     <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
